<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>User detail </title>
<style>
   

</style>

</head>
<body>
<%- include('./navbar')  %> 

<div  class="container py-5">
   <div class="row">
       <h3>Add User Details</h3>
       <div class="col-sm-10">
        <form  action="/adduserDetail"  method="post" class="jumbotron">
<div>
    <label >Name</label>
    <input   placeholder="enter  your  name"  name='name' type="text"  class="form-control"/>
</div>       
<div>
    <label >Email</label>
    <input   placeholder="enter  your  email"  name='email' type="email"  class="form-control"/>
</div> 
 <div>
  <label >Salary</label>
 <input   placeholder="enter  your  salary"  name='salary' type="number"   class="form-control"/>   
</div>
            <div>
                <label >Role</label>
                <input   placeholder="enter  your role"  name='role' type="text"  class="form-control"/><br/>
            </div>
       
            <button class="btn btn-info w-25"> Add</button>
        </form>
       </div>
   </div>
</div>
    
</body>
</html>